<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<section class="section">
    <div class="container">
        <h1 class="title">
            Tasks
        </h1>
        <p class="subtitle">
            Demo site: Store properties in <strong>JSON</strong> format and use <strong>PropertyAccess</strong> to read
            <i>(without extra)</i>.
        </p>

        <nav class="level">
            <!-- Left side -->
            <div class="level-left"></div>

            <!-- Right side -->
            <div class="level-right">
                <p class="level-item">
                    <a class="button is-default" href="{{ path('task_index') }}"> Task list</a>
                </p>
                <p class="level-item">
                    <a class="button is-primary" href="{{ path('task_new_get') }}"> Add task</a>
                </p>
            </div>
        </nav>

        {% for type, messages in app.session.flashbag.all %}
            <div class="notification is-link">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}

    </div>
</section>

{% block body %}{% endblock %}
<section class="section">
    <div class="container">
        <article class="tile is-child notification is-primary">
            <p class="title">Blog Post: Store properties in JSON format and use PropertyAccess to read</p>
            <p class="subtitle">This demo site is a POC in addition to the blog post: <a href="https://blog.romainnorberg.be/post/store-properties-in-json-format-and-use-propertyaccess-to-read" target="_blank">https://blog.romainnorberg.be/post/store-properties-in-json-format-and-use-propertyaccess-to-read</a> </p>
            <p>The database is reset every 10 minutes</p>
        </article>
    </div>
</section>

<script src="https://kit.fontawesome.com/749514399f.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
